{% extends 'material/base.html' %}

{% block content %}
<div class="container">
    <h1>Subir Material</h1>

    <!-- Mostrar mensajes de éxito o error -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" enctype="multipart/form-data" id="uploadForm">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary w-100">Subir archivo</button>
    </form>
</div>
{% endblock %}