{% extends 'material/base.html' %}
{% load static crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Editar Pregunta</h1>
        <a href="{% url 'manage_questions' contenido_id=question.contenido.id %}" 
           class="btn btn-outline-secondary">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
    </div>

    <div class="card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form.question_text|as_crispy_field }}
                        {{ form.answer_text|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.question_type|as_crispy_field }}
                        {{ form.subject|as_crispy_field }}
                        {{ form.topic|as_crispy_field }}
                        {{ form.subtopic|as_crispy_field }}
                    </div>
                </div>
                
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">Imágenes</div>
                            <div class="card-body">
                                {{ form.question_image|as_crispy_field }}
                                {{ form.answer_image|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">Fuente</div>
                            <div class="card-body">
                                {{ form.source_page|as_crispy_field }}
                                {{ form.source_chapter|as_crispy_field }}
                                {{ form.source_unit|as_crispy_field }}
                                {{ form.is_selected|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary mt-3">
                    <i class="fas fa-save"></i> Guardar Cambios
                </button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Dinámica topic/subtopic
    $('#id_subject').change(function() {
        const subjectId = $(this).val();
        if (subjectId) {
            $.get(`/api/get-topics/?subject_id=${subjectId}`, function(data) {
                let options = '<option value="">---------</option>';
                data.forEach(function(topic) {
                    options += `<option value="${topic.id}">${topic.name}</option>`;
                });
                $('#id_topic').html(options);
            });
        }
    });

    $('#id_topic').change(function() {
        const topicId = $(this).val();
        if (topicId) {
            $.get(`/api/get-subtopics/?topic_id=${topicId}`, function(data) {
                let options = '<option value="">---------</option>';
                data.forEach(function(subtopic) {
                    options += `<option value="${subtopic.id}">${subtopic.name}</option>`;
                });
                $('#id_subtopic').html(options);
            });
        }
    });
});
</script>
{% endblock %}