{% extends 'material/base.html' %}

{% block content %}
<div class="container">
    <h1>Revisar Preguntas Generadas</h1>
    <form method="post" action="{% url 'material:save_selected_questions' material.id %}">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Seleccionar</th>
                        <th>Pregunta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in questions %}
                    <tr>
                        <td>
                            <input type="checkbox" name="selected_questions" value="{{ forloop.counter0 }}">
                        </td>
                        <td>{{ question }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary">Guardar seleccionadas</button>
        <a href="{% url 'material:mis_materiales' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}